<?xml version="1.0" encoding="UTF-8"?>
<java version="11.0.9.1" class="java.beans.XMLDecoder">
 <object class="lookout.settings.SettingsData" id="SettingsData0">
  <void property="carbRatio">
   <boolean>true</boolean>
  </void>
  <void id="Rectangle0" property="diaryBounds">
   <void class="java.awt.Rectangle" method="getField">
    <string>x</string>
    <void method="set">
     <object idref="Rectangle0"/>
     <int>75</int>
    </void>
   </void>
   <void class="java.awt.Rectangle" method="getField">
    <string>y</string>
    <void method="set">
     <object idref="Rectangle0"/>
     <int>281</int>
    </void>
   </void>
   <void class="java.awt.Rectangle" method="getField">
    <string>width</string>
    <void method="set">
     <object idref="Rectangle0"/>
     <int>1252</int>
    </void>
   </void>
   <void class="java.awt.Rectangle" method="getField">
    <string>height</string>
    <void method="set">
     <object idref="Rectangle0"/>
     <int>467</int>
    </void>
   </void>
  </void>
  <void property="diaryCommSize">
   <int>119</int>
  </void>
  <void property="diaryDateSize">
   <int>145</int>
  </void>
  <void property="diaryMenuSplit">
   <int>119</int>
  </void>
  <void property="diaryRestSize">
   <int>66</int>
  </void>
  <void property="diarySplit">
   <int>780</int>
  </void>
  <void property="groupSize">
   <int>268</int>
  </void>
  <void id="Rectangle1" property="mainBounds">
   <void class="java.awt.Rectangle" method="getField">
    <string>x</string>
    <void method="set">
     <object idref="Rectangle1"/>
     <int>65</int>
    </void>
   </void>
   <void class="java.awt.Rectangle" method="getField">
    <string>y</string>
    <void method="set">
     <object idref="Rectangle1"/>
     <int>52</int>
    </void>
   </void>
   <void class="java.awt.Rectangle" method="getField">
    <string>width</string>
    <void method="set">
     <object idref="Rectangle1"/>
     <int>1301</int>
    </void>
   </void>
   <void class="java.awt.Rectangle" method="getField">
    <string>height</string>
    <void method="set">
     <object idref="Rectangle1"/>
     <int>716</int>
    </void>
   </void>
  </void>
  <void property="menuNameWidth">
   <int>163</int>
  </void>
  <void property="menuRest">
   <int>82</int>
  </void>
  <void property="menuSize">
   <int>400</int>
  </void>
  <void property="menuWeightWidth">
   <int>69</int>
  </void>
  <void property="prodName">
   <int>212</int>
  </void>
  <void property="prodRest">
   <int>78</int>
  </void>
  <void property="snackSize">
   <int>180</int>
  </void>
  <void property="useUsageGroup">
   <int>0</int>
  </void>
 </object>
</java>
